# --- IMPORTANT ---
# Prevents your private GROQ_API_KEY from being uploaded.
.env
# --- NEVER DELETE THIS ---

*.zip
/data/cleaned_output/**
/data/podcasts-no-audio-13GB/**
.venv
env/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
.streamlit/config.toml
.streamlit/secrets.toml
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.iml
target/
bin/
*.zip
.venv/
__pycache__/

# Data pipeline outputs
/data/podcasts-no-audio-13GB/
/data/cleaned_output/
/data/cleaned_full_podcast_transcript/
/data/cleaned_podcast_segments/
/data/chunked_podcast_segments/
/data/enriched_metadata/
/data/context_building_files/**
/data/final_output/*
/data/preprocessing_files/**


# Root-level duplicates (delete these)
/cleaned_output/
/enriched_metadata/

# Embeddings (too large for git)
elastic_ready_with_embeddings.jsonl

# Evaluation outputs
es_eval/*.json
